{% extends "TcgDatabaseBundle::layout.html.twig" %}

{% block content %}
    <h1>TcgFaction creation</h1>

    <form action="{{ path('faction_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('faction_list') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock content %}
